<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/news.html">News</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/issues.html">Issues</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/profiles.html">Detained Activists</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html">About Us</a>
</li>
