<!--  Replace menu links here -->

      <li><a href="{{site.baseurl}}/news.html">News</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Issues
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{site.baseurl}}/issues/jasic.html">Jasic</a></li>
          <li><a href="{{site.baseurl}}/issues/silicosis.html">Silicosis</a></li>
        </ul>
      </li>
      <li><a href="{{site.baseurl}}/detainees.html">Detained Activists</a></li>
      <li><a href="{{site.baseurl}}/about.html">About Us</a></li>
